body
{
	background-color: #E5E4E2;
}

.sidebar 
{
	height: 100%;
	width: 400px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #8C001A;
	overflow-x: hidden;
	padding-top: 20px;
	color: #FFFFFF;
}

.sidebar h1 
{
	text-align: center;
}

.sidebar h4
{
	text-align: center;
	line-height: 5px;
}


.sidebar a 
{
	padding: 25px 25px 25px 16px;
	text-decoration: none;
	font-size: 40px;
	color: #818181;
	display: block;
}

.sidebar a:hover 
{
	color: #f1f1f1;
}

.main
{
	margin-left: 400px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

@media screen and (max-width: 1200px) 
{
	.column 
	{
		-ms-flex: 100%; /* IE10 */
		flex: 100%;
		max-width: 100%;
		text-align: center;
	}
	
	.sidebar 
	{
		width: 100%;
		height: auto;
		position: relative;
	}
	
	.sidebar a 
	{
		float: left;
	}
	
	div.content 
	{
		margin-left: 0;
	}
	
	.main
	{
		margin-left: 0px;
	}
}

.videoWrapper 
{
	position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}